.menu {
  display: flex;
  padding: 10px 30px;
  cursor: pointer;
  
  width: 50px;
  height: 40px;
  margin:5px 20px;
  padding: 0px;
  align-items: center;
  transition:0.5s all;
  
  justify-content: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        border-radius: 10px;
  background-color: rgb(236, 229, 229);
  color: rgba(41, 40, 40, 0.755);
}
.material-symbols-outlined {
  font-size: 30px;
}

.menu:hover{
    background-color: rgb(3, 3, 16);
    color: grey;
}
